<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%logger] [%X{akkaAddress}] [%marker] [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka.actor" level="DEBUG"/>
    <logger name="akka.cluster" level="DEBUG"/>
    <logger name="akka.http" level="INFO"/>
    <logger name="akka.http.impl" level="WARN"/>
    <logger name="akka.persistence" level="DEBUG"/>
    <logger name="akka.persistence.cassandra" level="DEBUG"/>
    <logger name="akka.serialization" level="WARN"/>

    <logger name="com.codahale.metrics" level="INFO"/>
    <logger name="com.datastax.oss.driver" level="WARN"/>
    <logger name="com.fasterxml.jackson" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="io.grpc.netty.shaded" level="WARN"/>
    <logger name="org.apache.cassandra" level="ERROR"/>
    <logger name="org.apache.kafka" level="WARN"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
